
<div class="container">
    @Html.ActionLink("Customer", "Index", "Customer", new { area = "Public" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Intermediary", "Index", "Intermediary", new { area = "Public" }, new { @class = "navbar-brand" })
</div>