
@{
    ViewBag.Title = "Investments";
}

<h2>Investments</h2>

<p>Welcome to your investments homepage.</p>

@Html.ActionLink("Sign out", "Index", "Customer", new { area = "Public" }, new { @class = "navbar-brand" })
